{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}
    {% block main %}
    <h1>Modification Commande </h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('app_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
  {% endblock %}

{% block sidebar %}
        <div class="section actions">
            <a href="{{ path('app_commande_new') }}" class="btn btn-lg btn-block btn-success">
                <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_commande'|trans }}
            </a>
        </div>
        {{ parent() }}

{% endblock %}