{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for commande in commandes %}
                <tr>
                    <td><a href="{{ path('app_commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
                    <td>{% if commande.date %}{{ commande.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('app_commande_show', { 'id': commande.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('app_commande_edit', { 'id': commande.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" align="center">
                        <div class="well">{{ 'commande.no_commande_found'|trans }}</div>
                    </td>

                </tr>

            {% endfor %}
            </tbody>
        </table>



{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('app_commande_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'action.create_commande'|trans }}
        </a>
    </div>
    {{ parent() }}

{% endblock %}
