{% extends 'base.html.twig' %}

{% block body_id 'admin_post_show' %}
    {% block main %}
        <h1>Commande creation</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('app_index') }}">Back to the list</a>
            </li>
        </ul>
    {% endblock %}
{% block sidebar %}
        {{ parent() }}
{% endblock %}

