{% extends 'base.html.twig' %}

{% block body_id 'admin_post_show'%}
  {% block main %}
      <ul>
          <li>
              <a href="{{ path('app_index') }}">Back to the list</a>
          </li>
      </ul>
      <h1>Commande</h1>
      <div class="row">
          <table class="table table-striped table-middle-aligned">
              <thead>
              <tr>
                  <th>Produit</th>
                  <th>Quntité achetée</th>
                  <th>Prix unitaire</th>
                  <th>Prix total</th>
              </tr>
              </thead>
              <tbody>
              {% for commande in commande_produits %}
                  <tr>
                      <td>{{ commande.product.title }}</td>
                      <td>{{ commande.quantity }}</td>
                      <td>{{ commande.product.price }} €</td>
                      <td>{{ commande.product.price*commande.quantity }} €</td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>


{% endblock %}
{% block sidebar %}
    {{ parent() }}

{% endblock %}