{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_show' %}

{% block main %}
    <h1>{{ supplier.name }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> </span>
        <span class="metadata"><i class="fa fa-user"></i></span>
    </p>

    <div class="well">
        <p class="m-b-0"><strong>{{ 'label.address'|trans }}</strong>: {{ supplier.address }}</p>
    </div>


{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_supplier_edit', {id: supplier.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('admin/supplier/_delete_form.html.twig', {supplier: supplier}, with_context = false) }}
    </div>

    {{ parent() }}


{% endblock %}
